html {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
}

.heading {
  background-image: url("../images/pattern.jpeg");
}

h2 {
  font-size: 32px;
  color: white;
}

strong {
  color: blue;
  font-weight: bold;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2{
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}

.price { color: blue; }
